/* Will be compiled down to a single stylesheet with your sass files */
@import url(http://fonts.googleapis.com/css?family=Roboto:400,700,700italic,400italic);

*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body, input, button, select, textarea{
    font-family: 'Roboto', "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.elements{
	overflow-y: auto;
    overflow-x: hidden;
	height: -webkit-calc(100% - 20px);
    padding: 5px;
}

.element{
	background-color: #e0e0e0;
    padding: 0 2px 2px 2px;
	border-radius: 3px;
    margin-bottom: 20px;
	text-align: center;
}

.element input, .element textarea{
    border: 0;
    -moz-transition: none;
    -webkit-transition: none;
    transition: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    background-color: transparent;
    text-align: center;
    padding: 0;
    margin-bottom: 4px;
}
.element textarea{
    resize: none;
    width: 100%;
    overflow:hidden;
}

.element input:focus, .element textarea:focus{
    -webkit-box-shadow:none;
    -moz-box-shadow:none;
    box-shadow:none;
}

.element .btn-remove{
    display: none;
}
.element:hover .btn-remove{
    display:block;
}

.element .errors {
        color: red;
    }
    
.element .tag{
    display: inline-block;
    margin-left: 4px;
    margin-right: 4px;
    width: 12.5%;
    height: 5px;    
    vertical-align: top;
}
    .element .tag.hidden{
        visibility: hidden;
    }

    .element .tags{
        line-height: 5px;
        text-align: center;
        white-space: nowrap;
        padding-bottom: 4px;
    }

    .tags:hover{
        line-height: 30px;
    }
    
    .element .tags:hover .tag{
        height: 30px;
    }
    .element .tags:hover .tag.hidden{
        visibility: visible;
        height: 15px;
    }

.element-errors{
    float:right;
}

.sortable-placeholder{
	background-color: red;
}

.zone {
	border: 1px solid #333;
	position: absolute;
	background-color: white;
}
    .zone h2{
        font-size: 1em;
        margin: 0;
        line-height: 120%;
    }
    .zone h2 .btn{
        padding: 0;
        text-decoration: none;
    }

.layers{
	padding: 5px 0;
}

.layer{
	display:inline-block;
	width: 150px;
	border-left: 5px solid red;
	padding: 2px;
}

.invalid {
    border: 2px solid red;    
}

.view {
    width: 80%;
    position: relative;
}

.view .view-ratio{
    padding-bottom: 69%;
}

.view .content{
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    border: 1px solid #333;
}
.clear{
    clear:both;
}
.rules-container{
    width: 20%;
    position:absolute;
    top:0;
    right:0;
    bottom:0;
    overflow:auto;
    padding: 5px;
}
.rule h3{
    font-size: 120%;
    margin: 10px 0 0 0;
    line-height: 120%;
}