/* Will be compiled down to a single stylesheet with your sass files */

@import url(http://fonts.googleapis.com/css?family=Roboto:400,700,700italic,400italic);

html,
body,
.view-container {
  height: 100%;
  width: 100%;
  overflow: auto;
}

body,
input,
button,
select,
textarea {
  font-family: 'Roboto', "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #FAFAFA;
  overflow: hidden;
}

.elements {
  height: -webkit-calc(100% - 20px);
  padding: 5px;
  overflow-y: auto;
}

.element {
  background-color: #e0e0e0;
  padding: 0 2px 2px 2px;
  border-radius: 3px;
  margin-bottom: 4%;
  margin-left: 1.5em;
  text-align: center;
  position: relative;
  float: left;
}

.element input,
.element textarea {
  border: 0;
  -webkit-transition: none;
  transition: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
  background-color: transparent;
  text-align: center;
  padding: 0;
  margin: 0;
}

.element textarea {
  resize: none;
  width: 100%;
  overflow: hidden;
}

.element input:focus,
.element textarea:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.element .btn-remove {
  display: none;
  position: absolute;
  bottom: 0;
  right: 0;
}

.element:hover .btn-remove {
  display: inline;
}

.element .errors {
  color: red;
}

.zone.zoomed .element {
  margin-left: 1.3em;
}

.element .tag {
  display: inline-block;
  margin-left: 3px;
  margin-right: 3px;
  width: 12.5%;
  height: 5px;
  vertical-align: top;
}

.element .tag.hidden {
  visibility: hidden;
}

.element .tags {
  line-height: 5px;
  text-align: center;
  white-space: nowrap;
  padding-bottom: 4px;
}

.element .tags:hover {
  line-height: 30px;
}

.element .tags:hover .tag {
  height: 25px;
}

.element .tags:hover .tag.hidden {
  visibility: visible;
  height: 15px;
  opacity: 0.5;
}

.element .tags:hover .tag.hidden:hover {
  opacity: 1;
}

.element .tag:hover {
  cursor: pointer;
}

.element-errors {
  position: absolute;
  left: 12px;
  bottom: 5px;
}

.sortable-placeholder {
  background-color: red;
  float: left;
}

.zone {
  border: 1px solid #333;
  position: absolute;
  background-color: white;
  -webkit-transition: width 0.5s  ease-in-out, left 0.5s ease-in-out,  top 0.5s ease-in-out,  height 0.5s ease-in-out, z-index 0 linear 0.5s;
}

.zone h2 {
  font-size: 1em;
  margin: 0;
  line-height: 120%;
}

.zone h2 .btn {
  padding: 0;
  text-decoration: none;
}

.zone:hover {
  z-index: 1;
  -webkit-transition: width 0.5s  ease-in-out, left 0.5s ease-in-out,  top 0.5s ease-in-out,  height 0.5s ease-in-out, z-index 0 linear 0;
}

.layers {
  padding: 5px 0;
}

.layer {
  display: inline-block;
  width: 150px;
  border-left: 5px solid red;
  padding: 2px;
}

.invalid {
  border: 2px solid rgba(185, 74, 72, 0.8);
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(185, 74, 72, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(185, 74, 72, 0.6);
}

.leftnav {
  width: 180px;
  float: left;
}

.view {
  width: -webkit-calc(100% - 470px);
  position: relative;
  float: left;
}

.view .view-ratio {
  padding-bottom: 69%;
}

.view .content {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border: 1px solid #333;
}

.clear {
  clear: both;
}

.rules-container {
  width: 290px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
}

.rules-container .nav {
  margin-bottom: 0;
}

.rules-container .rules {
  padding: 5px;
}

.rule h3 {
  font-size: 120%;
  margin: 10px 0 0 0;
  line-height: 120%;
}

tr.rule-cat > td {
  padding-top: 4em;
}

.rules-list {
  margin: 40px;
}

.rules-list h4 {
  margin-top: 0;
}

.rules-list td {
  vertical-align: top;
  padding-right: 3em;
  padding-bottom: 1em;
}

.rules-list th {
  padding-bottom: 1em;
}

.rules-list .notimp {
  color: red;
}

.marker {
  fill: #333;
}

.control {
  fill: #ccc;
  stroke: #000;
  stroke-width: .5px;
  display: none;
}

.edit .control {
  display: block;
}

input.model-name {
  font-size: 120px;
  line-height: 120px;
  height: 200px;
}

input.model-dname,
input.model-when {
  font-size: 90px;
  line-height: 90px;
  height: 150px;
}

input.model-name,
input.model-dname,
input.model-when {
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  border: none;
  width: 100%;
  display: block;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  margin: 0;
  padding: 0;
  background-color: transparent;
}

input.model-name:focus,
input.model-dname:focus,
input.model-when:focus {
  outline-offset: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.button {
  cursor: pointer;
  fill: none;
  stroke: #333;
}

.button:hover rect {
  fill: #efefef;
}

g.zones .zone > path,
g.zones .zone rect {
  stroke: #333;
  fill: #fff;
}

g.zones g.new rect,
g.zones g.old rect,
g.zones g.diff rect {
  stroke: none;
  fill: none;
}

.show-old .old {
  opacity: 1;
}

.old {
  opacity: 0.4;
}

.overlay {
  fill: none;
  pointer-events: all;
}

g.zone {
  pointer-events: all;
}

g.zone text {
  alignment-baseline: hanging;
  font-weight: bold;
}

path.delete {
  stroke: red;
  stroke-width: 3px;
}

path.import {
  fill: green;
}

.model-dep path {
  stroke: #333;
  stroke-width: 3px;
}

.model-chart path {
  stroke: none;
  /* fill: red; */
}

.model-chart .parent-chart {
  opacity: 0.4;
}

.link {
  stroke: rgb(255, 255, 153);
  stroke-width: 10px;
  fill: none;
}

.link.old {
  stroke: rgb(255, 255, 153);
}

#rightmenu {
  background-color: #fff;
  -webkit-box-shadow: -1px 0px 1px 1px #aaaaaa;
  box-shadow: -1px 0px 1px 1px #aaaaaa;
  width: 250px;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  overflow-y: scroll;
}

.bs-docs-sidenav {
  margin: 30px 0 0;
  padding: 0;
  background-color: #fff;
  border-radius: 6px;
  -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.065);
  box-shadow: 0 1px 4px rgba(0,0,0,.065);
}

.bs-docs-sidenav > li:first-child > a {
  border-radius: 6px 6px 0 0;
}

.bs-docs-sidenav > li:last-child > a {
  border-radius: 0 0 6px 6px;
}

.bs-docs-sidenav > li > a {
  display: block;
  width: 190px \9;
  margin: 0 0 -1px;
  padding: 8px 14px;
  border: 1px solid #e5e5e5;
}

.bs-docs-sidenav .icon-chevron-right {
  float: right;
  margin-top: 2px;
  margin-right: -6px;
  opacity: .25;
}

.projects-frame {
  margin: auto;
  width: 300px;
}

#rightmenu .tags {
  text-align: center;
}

#rightmenu .tag {
  width: 35px;
  height: 35px;
  display: inline-block;
  cursor: pointer;
  margin-right: 2px;
  margin-left: 2px;
}

#rightmenu .tag.hidden {
  opacity: 0.1;
}

#rightmenu .tag:hover {
  opacity: 1;
}

#rightmenu > div {
  border-top: 1px solid #aaa;
}

#rightmenu h2 {
  margin-top: 0;
  background-color: #eee;
  padding-left: 4px;
}

#rightmenu p {
  padding-left: 4px;
}

#rightmenu .btn.btn-danger {
  margin-top: 20px;
}

#rightmenu .close {
  padding: 2px 2px 0 0;
}

.svgelement {
  height: 100%;
  width: 100%;
  pointer-events: none;
  text-align: center;
  display: table;
  -webkit-box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 2px 0px;
  box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 2px 0px;
  background-image: -webkit-linear-gradient(top, rgb(255, 255, 127) 0%, rgb(255, 255, 153) 50%, rgb(255, 255, 188) 94%);
  background-repeat: no-repeat;
  -webkit-background-size: contain;
  background-size: contain;
  background-position: 50% 50%;
}

.svgelement span {
  display: table-cell;
  vertical-align: middle;
  word-wrap: break-word;
  font-weight: 700;
  font-family: 'Patrick Hand', cursive;
  font-size: 20px;
}

.svgelement.image span {
  vertical-align: bottom;
  text-align: right;
  font-size: 10px;
  padding-right: 2px;
}

.no_selection,
.zone text {
  -webkit-user-select: none;
  /* webkit (safari, chrome) browsers */
  -moz-user-select: none;
  /* mozilla browsers */
  -khtml-user-select: none;
  /* webkit (konqueror) browsers */
  -ms-user-select: none;
  /* IE10+ */
}

.hide-links-old .links-old {
  display: none;
}

.hide-links .links {
  display: none;
}

.hide-dep .model-dep path {
  display: none;
}

.hide-chart .model-chart {
  display: none;
}

.change-type-i {
  fill: green;
}

.change-type-d {
  fill: red;
}

.dropzone {
  padding: 20px;
  text-align: center;
  font-style: italic;
  border: 1px dashed #333;
  margin: 10px;
  background-position: 50%, 50%;
  -webkit-background-size: contain;
  background-size: contain;
  background-repeat: no-repeat;
}