<svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" evolution></svg>
<div id="rightmenu" ng-show="options.editLinkID || options.editModelID || options.editElementID">
    <div ng-show="options.editElementID" class="editElement">
        <button ng-click="options.editElementID=undefined" class="close">&times;</button>
        <h2>Element</h2>
        <p>id: {{options.editElementID}}</p>
        <p>type: {{elements[options.editElementID].data.type}}</p>
		<p ng-show="elements[options.editElementID].parent">parent: {{elements[options.editElementID].parent.model.data.name}}#{{elements[options.editElementID].parent.data.name}}
		<span ng-show="elements[options.editElementID].getParents().indexOf(elements[options.editElementID].parent.model.id) < 0">Import!</span>
		</p>
        <p ng-hide="elements[options.editElementID].data.type == 'D'">name: <input type="text" ng-model="data.elements[options.editElementID].name" /></p>
        <div ng-hide="elements[options.editElementID].data.type == 'D'" class="tags">
	       <div ng-repeat="t in data.tags" class="tag" ng-class="{hidden: data.elements[options.editElementID].tags.indexOf(t.id) < 0}"
            style="background-color:{{t.color}};" title="{{t.name}}" ng-click="elements[options.editElementID].toggleTag(t, $event)"></div>
		</div>
		<p ng-show="elements[options.editElementID].data.type == 'C'">changeType: 
		<input type="radio" ng-model="data.elements[options.editElementID].changeType" value="" /> ?
      	<input type="radio" ng-model="data.elements[options.editElementID].changeType" value="i" /> ++
      	<input type="radio" ng-model="data.elements[options.editElementID].changeType" value="d" /> --</p>
        
        <p><button ng-click="elements[options.editElementID].handleDelete()" class="btn btn-danger">delete element</button></p>
    </div>
    <div ng-show="options.editLinkID">
        <button ng-click="options.editLinkID=undefined" class="close">&times;</button>
        <h2>Mechanic</h2>
        <p>from: {{data.elements[data.links[options.editLinkID].from].name}}</p>
        <p>to: {{data.elements[data.links[options.editLinkID].to].name}}</p>
        <p>color: <input type="text" ng-model="data.links[options.editLinkID].color" />
        </p>
        <div class="tags">
	       <div ng-repeat="t in data.tags" class="tag" ng-class="{hidden: data.links[options.editLinkID].color != t.color}"
            style="background-color:{{t.color}};" ng-click="data.links[options.editLinkID].color=t.color"></div>
		</div>
        <p>width: s m l <input type="text" ng-model="data.links[options.editLinkID].width" /></p>
        <p>style: line dash <input type="text" ng-model="data.links[options.editLinkID].dash" /></p>
        <p><button ng-click="deleteLink()" class="btn btn-danger">delete link</button></p>
    </div>
    <div ng-show="options.editModelID">
        <button ng-click="options.editModelID=undefined" class="close">&times;</button>
        <h2>Business Model</h2>
        <p>name: <input type="text" ng-model="data.models[options.editModelID].name" /></p>
        <p>dname: <input type="text" ng-model="data.models[options.editModelID].dname" ng-disabled="!models[options.editModelID].parent"/></p>
        <p>parent: {{models[options.editModelID].parent.data.name}}</p>
        <p>when: <input type="text" ng-model="data.models[options.editModelID].when" /></p>
        <p>color: <input type="text" ng-model="data.models[options.editModelID].color" /></p>
        <div class="tags">
	       <div ng-repeat="t in data.tags" class="tag" ng-class="{hidden: data.models[options.editModelID].color != t.color}"
            style="background-color:{{t.color}};" ng-click="data.models[options.editModelID].color=t.color"></div>
		</div>
        <p>row: {{models[options.editModelID].row}}, column: {{models[options.editModelID].column}}</p>
        <p>fix column: <input type="text" class="span1" ng-model="data.models[options.editModelID].c" /></p>
        <p><button ng-click="models[options.editModelID].addStep()" class="btn btn-primary">add step</button></p>
        <p><button ng-click="models[options.editModelID].handleDelete()" class="btn btn-danger">delete step</button></p>
		<p ng-hide="!models[options.editModelID].parent"><button ng-click="data.models[options.editModelID].p=undefined" class="btn btn-warning">make orphan</button></p>
		<textarea ng-model="importJsonSrc" placeholder="JSON"></textarea>
    	<button class="btn" ng-click="models[options.editModelID].importJSON()">Import</button>
		<h3>Global</h3>
		<p>show diff: <input type="checkbox" ng-model="options.showDiff"/></p>
		<p>show links: <input type="checkbox" ng-model="options.showLinks"/></p>
		<p>show previous links: <input type="checkbox" ng-model="options.showLinksOld"/></p>
		<p>show dep links: <input type="checkbox" ng-model="options.showDep"/></p>
		<p>show chart: <input type="checkbox" ng-model="options.showChart"/></p>
    </div>
</div>