<style type="text/css">
g.model rect{
  stroke: red;
  fill: none;
}
.old{
  background-color: blue;
  color: red;
}
.overlay {
  fill: none;
  pointer-events: all;
}

g.new{
  pointer-events: all;
}
g.old rect{
  stroke: blue;
}
g.diff rect{
  stroke: red;
  fill:none;
}
</style>
<svg version="1.1" width="100%" height="100%" test></svg>
<!--
<svg version="1.1" width="100%" height="100%" viewBox="0 0 2000 1500" test></svg>
<div ng-repeat="model in models" class="model" ng-style="{'top': model.row*200 + 'px','left': model.column*300 +'px'}">{{model.id}}
  <div ng-repeat="element in model.elements">{{element.id}}</div>
  <div class="old" ng-repeat="element in model.parent.all()">{{element.id}}</div>
</div>
-->
        
<!--
<div class="line">
  <div class="model">A</div>
  <div class="model">B</div>
  <div class="model">C</div>
</div>
<div class="line">
  <div class="model" style="margin-left:600px">D</div>
  <div class="model">E</div>
</div>
<div class="line">
  <div class="model"style="margin-left:600px">F</div>
  <div class="model">G</div>
</div>
-->