<div class="leftnav">
    <div class="layers">
        <div ng-repeat="(id, l) in layers" class="layer">
        <input type="checkbox" ng-model="l.visible"/> {{l.id}}</div>
    </div>
        <input type="text" ng-model="z.type" class="input-small"/>
        <input type="text" ng-model="z.value" class="input-small" />
    <div class="elements" sort>
        <div class="element" ng-repeat="e in model.elements | filter:filterType(z.type, z.value)" ng-class="{'invalid': e.errors.length > 0}">
        {{e.name}}
        </div>
    </div>
    <textarea ng-model="importJsonSrc" placeholder="JSON"></textarea>
    <button class="btn" ng-click="importJson()">Import</button>
    <button class="btn" ng-click="addCurve()">+curve</button>
    <button class="btn" ng-click="showCurveControl = !showCurveControl">toggleControl</button>
</div>
<div class="view" ng-class="{'hide-control': showCurveControl}">
    <div class="view-ratio"></div>
    <div class="content">
        <curve curves="model.curves"></curve>
        <div ng-mouseenter="zoom(z, filteredElements)" ng-mouseleave="dezoom(z)" class="zone {{name}}" ng-class="{'zoomed':z.zoomed}" ng-repeat="(name, z) in model.zones" ng-style="{width: z.width + '%', height: z.height + '%', top:z.top + '%', left:z.left + '%'}">
            <h2><button ng-click="addElementToZone(z)" class="btn btn-link"><i class="icon-plus-sign-alt icon-large"></i></button> {{name | i18n}}</h2>
            <div class="elements" sort>
                <div class="element" style="{{elementStyle(e)}}" ng-repeat="e in filteredElements = (model.elements | filter:filterType(z.type, z.value))" ng-class="{'invalid': e.errors.length > 0}">
                    <div class="tags">
                        <div ng-show="layers.tags.visible" ng-repeat="t in tags()" class="tag" ng-class="{hidden: e.tags.indexOf(t.id) < 0}" style="background-color:{{t.color}};" title="{{t.name}}" ng-click="toggleTag(e, t)"></div>
                        <div class="clear"></div>
                    </div>
                    <div class="element-errors" popover-placement="bottom" popover-trigger="mouseenter" popover="{{formatErrors(e.errors)}}"><i class="icon-warning-sign text-error" ng-show="e.errors.length > 0"></i></div>
                    <textarea type="text" ng-model="e.name"></textarea>
                    <!--
    TODO:foreach active layer 
    show current values, and possible new fields
    -->
                    <div ng-repeat="a in activeLayerAttributes(e)">
                        {{a.name}}
                        
                        <textarea ng-model="e[a.layerId][a.name]"></textarea>
                        <select ng-model="e[a.layerId][a.name]" ng-options="v for v in a.values"></select>
                    </div>				
                    <button class="btn btn-link btn-remove" ng-click="removeElement(e)"><i class="icon-trash"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="rules-container" ng-show="layers.errors.visible">
    <ul class="nav nav-tabs">
      <li ng-class="{active: errorFilter=='ok'}"><a href ng-click="errorFilter='ok'">Ok <span class="badge badge-success" ng-bind="Rules.counts.ok"></span></a></li>
      <li ng-class="{active: errorFilter=='nok'}"><a href ng-click="errorFilter='nok'">NOk <span class="badge badge-important" ng-bind="Rules.counts.nok"></span></a></li>
      <li ng-class="{active: errorFilter=='inactif'}"><a href ng-click="errorFilter='inactif'">Inactif <span class="badge" ng-bind="Rules.counts.inactif"></span></a></li>
    </ul>
    <div class="rules">
        <div class="rule" ng-repeat="rule in rules  | filter:errorFilterStates[errorFilter]">
            <h3 ng-if="displayRuleCategory(rule.category, $first)" ng-bind="rule.category | i18n"></h3>
            <i class="icon-check" ng-show="rule.valid && rule.active"></i>
            <i class="icon-check-empty" ng-show="!rule.valid && rule.active"></i>
            <i class="icon-sign-blank" ng-show="!rule.active"></i>
            {{rule.title}} ({{rule.points}})
            <a href class="btn btn-link rule-help" title="Why: {{rule.why}} When: {{rule.when}}"><i class="icon-question-sign"></i></a>
            <div ng-repeat="error in rule.errors" class="text-error">{{error.obj.name}} <span ng-show="error.obj.bmo">({{Rules.bmoTypeToZoneKey[error.obj.bmo.type] | i18n}})</span></div>
        </div>
    </div>
    <div>
        points {{Rules.points}}
    </div>
</div>